<div class="col-md-6 mt-5 offset-md-3">
  {{>messages}}
  <div class="card">
    <article class="card-body">

      <h4 class="card-title mb-4 mt-1">Sign in</h4>
      <form action="/users/login" method="post">
        <div class="form-group">
          <label>Your email</label>
          <input name="email" class="form-control" placeholder="Email" type="email">
        </div> <!-- form-group// -->
        <div class="form-group">
          <a class="float-right" href="#">Forgot?</a>
          <label>Your password</label>
          <input name="password" class="form-control" placeholder="******" type="password">
        </div> <!-- form-group// -->
        <div class="form-group">
          <div class="checkbox">
            <label> <input type="checkbox"> Save password </label>
          </div> <!-- checkbox .// -->
        </div> <!-- form-group// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Login </button>
        </div> <!-- form-group// -->
        <a href="/users/login">
          <p>I already have an account</p>
        </a>
      </form>
    </article>
  </div> <!-- card.// -->

</div>